[% IF error -%]
<p class="error">[% error %]</p>
[% END -%]
[% IF session.goto -%]
<p>You need to be logged in to do that</p>
[% END -%]
<form method="POST" action="/login">
<p>Email: <input name="email" value="[% session.email %]" /><br />
Password: <input type="password" name="pass" /><br />
<input type="submit" value="Log in" />
</form>
